@font-face {
    font-family: 'Abesha Arada';
    src: url('../fonts/AbeshaArada-Regular.woff');
}

@font-face {
    font-family: 'Abesha Arada Caps';
    src: url('../fonts/AbeshaAradaCaps-Regular.woff');
}

@font-face {
    font-family: 'Abesha Arif';
    src: url('../fonts/AbeshaArif.woff');
}

@font-face {
    font-family: 'Abesha Arif Caps';
    src: url('../fonts/AbeshaArifCaps.woff');
}

@font-face {
    font-family: 'Abesha Demeke';
    src: url('../fonts/AbeshaDemeke.woff');
}

@font-face {
    font-family: 'Abesha Demeke Caps';
    src: url('../fonts/AbeshaDemekeCaps.woff');
}
@font-face {
    font-family: 'Abesha Kitfo';
    src: url('../fonts/AbeshaKitfo-Regular.woff');
}

@font-face {
    font-family: 'Abesha Kitfo Caps';
    src: url('../fonts/AbeshaKitfo-Regular.woff');
}

@font-face {
    font-family: 'Abesha Lemma';
    src: url('../fonts/AbeshaLemma-Regular.woff');
}
@font-face {
    font-family: 'Abesha Lemma Caps';
    src: url('../fonts/AbeshaLemmaCaps-Regular.woff');
}

@font-face {
    font-family: 'Abesha Lemma Light';
    src: url('../fonts/AbeshaLemma-Light.woff');
}
@font-face {
    font-family: 'Abesha Lemma Caps Light';
    src: url('../fonts/AbeshaLemmaCaps-Light.woff');
}

@font-face {
    font-family: 'Abesha Tana';
    src: url('../fonts/AbeshaTana-Regular.woff');
}

@font-face {
    font-family: 'Abesha Tana Caps';
    src: url('../fonts/AbeshaTanaCaps-Regular.woff');
}

body {
    background-color: gainsboro;
    margin-left: 0.2in;
}

.page {
    margin: 0.2in 0.2in 0.2in 0.2in;
    background-color: white;
    padding:  1in 1in 1in 1in;
    height: 10in;
    width: 7.5in;
    box-align: center;
    transform: scale(0.9); 
    overflow: hidden;
    
}

.page div {
    width: inherit; 
}


/* dont set height on paragraph class because javascript needs it changing */
/* .paragraph {
    height:  11in;;

} */

div[contenteditable="true"]:focus {
  outline: none;
}





.intLink:hover { cursor: pointer; }
.menu div {  display: inline; 
         white-space: nowrap; 
     }


/*[ 8, 9, 10, 11, 12, 14, 18, 24, 30, 36, 48, 60, 72, 96 ] */
.size-8 { font-size: 8pt; }
.size-9 { font-size: 9pt; }
.size-10 { font-size: 10pt; }
.size-11 { font-size: 11pt; }
.size-12 { font-size: 12pt; }
.size-14 { font-size: 14pt; }
.size-18 { font-size: 18pt; }
.size-24 { font-size: 24pt; }
.size-30 { font-size: 30pt; }
.size-36 { font-size: 36pt; }
.size-48 { font-size: 48pt; }
.size-60 { font-size: 60pt; }
.size-72 { font-size: 72pt; }
.size-96 { font-size: 96pt; }