@font-face {
    font-family: 'Abesha Arada';
    src: url('../fonts/AbeshaArada-Regular.woff');
}

@font-face {
    font-family: 'Abesha Arada Caps';
    src: url('../fonts/AbeshaAradaCaps-Regular.woff');
}

.abesha {
    font-family: 'Abesha Arada';
}

div[contenteditable="true"]:focus {
  outline: none;
}
