@font-face {
    font-family: 'Abesha Arada';
    src: url('../fonts/AbeshaArada-Regular.woff');
}

@font-face {
    font-family: 'Abesha Arada Caps';
    src: url('../fonts/AbeshaAradaCaps-Regular.woff');
}

body {
  margin: 0px;
  background-color: #f2f2f2;
}

.abesha {
  font-family: 'Abesha Arada';
}

div[contenteditable="true"]:focus {
  outline: none;
}

.page-container {
  width: 215.9mm;
  height: 279.4mm;
  margin: auto;
}

.editable-page {
  width: 215.9mm;
  height: 279.4mm;
  background-color: white ;
  border: 1px solid silver;
  box-shadow: silver 0px 0px 20px 0px;
}


@media print {
  body { background-color: white; }
  .page-container {
    width: 100%;
    height: 100%;
  }

  button, select { display: none; }

  .derassi-header { display: none; }
}
